/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 100%; 
 ; /* Example height */
  overflow-X: scroll hidden; 
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* margin-right: -185px; */
  padding: 20px;
  background-color: #1b2025;
  height: 300px; /* Example height */
  overflow-y: scroll; 
}

/* Medium Screens */
@media (min-width: 768px) {
  nav {
    padding: 7px 40px;
  }

  .patient-list ul, .collection-list ul {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .page-container {
    padding: 40px;
  }
}


h1, h2 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
}

a:hover {
  color: #1abc9c;
}

/* Navbar Styling */
/*  */

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li {
  display: inline;
}

/* Form Styles */
form {
  background-color: #464646;
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form select {
  width:100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}

form button {
  background-color: #163c47;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #57aa97 ;
  transition: 0.3s ease;
}

/* Page Styling */
.page-container {
  padding: 40px;
}
.pharma {
  display: flex;
  width: 800px;
  margin: 0 auto;
  opacity: 10%
}
/* Patient and Collection Lists */
.patient-list, .collection-list {
  padding: 20px;
  background-color: #faf4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}


.patient-list,.collection-list {
  background-color: #2e2c2c;
}

.patient-list ul, .collection-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* Large Screens */
@media (min-width: 1024px) {
  nav {
    padding: 7px 80px;
  }

  .patient-list ul, .collection-list ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.patient-list h2, .collection-list h2 {
  font-size: 24px;
  color: #2980b9;
}

/* Home Page Styling */
.home h1 {
  text-align: center;
  color: #2980b9;
  font-size: 36px;
  margin-top: 50px;
}
/* nav {
    
  padding: 7px 1000px;

  position: fixed;
  top: 0;
  left: 30%;
  transform: translateX(-30%);
  width: 132%;
  background-color: #333; 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

nav {
  padding: 7px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  background: scroll;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 35px;
}
nav li {
  display: inline;
  margin-right: 10px;
  transition: color 0.3s ease;
}
.grid-container {

  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 10px;
  list-style-type: none;
}

.grid-container li {
  background-color: #0c0b0b;
}

/* .pagination {
 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #415468;
  color: white;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #1a1d20;
  transition: 0.3s ease;
}